.containerNav {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  max-width: 100%;
  background-color: rgb(250, 191, 191);
  padding: 0px 15px;
  margin: 0%;
  display: flex;
  justify-content: center;
}

.cartWidget {
  height: 90px;
  padding: 0px;
}

.navbar {
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.li {
  text-decoration: none;
  list-style: none;
  color: black;
}
