.prodContainerDetail {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cardDetail {
  margin: 4%;
  margin-bottom: 40px;
  display: flex;
  box-shadow: 5px 10px 17px -5px rgba(0, 0, 0, 75);
  position: relative;
  border-radius: 5px;
}
.bodyDetail {
  margin-top: 3%;
  grid-area: "Body";
  text-align: center;
}
.cardImgDetail {
  width: 25%;
  height: 80%;
  margin: 4%;
  padding-bottom: 5%;
}
h4 {
  text-align: left;
}

h5 {
  font-size: 1em;
}

.precio {
  text-align: left;
}

.cardFooteruno {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  left: 30%;
  width: 10%;
}

.btn {
  display: flex;
}

.finalizarPedido {
  margin: 3% 0%;
}

.linkDetail {
  text-decoration: none;
  list-style: none;
  width: 161px;
  margin: 0%;
}

.linkDetailbtn {
  width: 161px;
  margin: 0%;
  text-align: center;
  justify-content: center;
}

.descripcion {
  font-size: 80%;
}
