.prodContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}

.tituloProductos {
  color: white;
  background-color: teal;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  display: block;
}

.cardPrud {
  display: flex;
  margin: 10px;
}
.cardImg {
  padding: 20px;
  align-content: center;
  width: 100%;
}

.cardFooter {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.card-body {
  align-items: center;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
