.containerHome {
  background-color: rgb(250, 167, 167, 0.2);
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inicioL {
  width: 50%;
  height: 80%;
  padding-left: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logoInicio {
  width: 230px;
  height: 90%;
}
.inicioR {
  width: 50%;
  height: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.fotoInicio {
  width: 40%;
  height: 80%;
  border-radius: 5%;
}
