.containerHome {
  background-color: rgb(250, 191, 191);
  height: 150px;
  width: 100%;
  text-align: center;
  position: relative;
}

.titulo {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  padding-top: 40px;
  font-size: 3em;
}

.h2Inicio {
  font-family: "MonteCarlo", cursive;
  font-size: 1.5em;
  color: red;
}

.imginicio {
  position: absolute;
  top: 85px;
  height: 60px;
  right: 2%;
  box-shadow: 5px 10px 17px -10px rgba(0, 0, 0, 75);
  background-color: rgb(250, 201, 201);
  border-radius: 50%;
}

.contadorCarrito {
  background-color: blanchedalmond;
  color: red;
  position: absolute;
  align-content: center;
  border-radius: 50%;
  font-size: 20px;
  top: 115px;
  height: 30px;
  width: 30px;
  right: 90px;
  box-shadow: 5px 10px 17px -10px rgba(0, 0, 0, 75);
}
