.containerHome {
  background-color: rgb(250, 191, 191);
  height: 150px;
  width: 100%;
  text-align: center;
  position: relative;
}

.titulo {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  padding-top: 40px;
  font-size: 3em;
}

.h2Inicio {
  font-family: "MonteCarlo", cursive;
  font-size: 1.5em;
  color: red;
}

.imginicio {
  position: absolute;
  top: 80px;
  height: 80px;
  right: 2%;
}
