.prodContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}

.tituloProductos {
  color: white;
  background-color: teal;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  display: block;
}

.cardPrud {
  display: flex;
  margin: 10px;
  margin-left: 40px;
  box-shadow: 5px 10px 17px -10px rgba(0, 0, 0, 75);
}
.cardImg {
  padding: 20px;
  align-content: center;
  width: 100%;
}

.cardFooter {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.card-body {
  align-items: center;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.detalles {
  text-decoration: none;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
